<div class="lg:pl-10 lg:pr-5 w-full">
  <div
    class="mt-12 mb-2 lg:my-16 lg:rounded-2xl lg:bg-card lg:dark:bg-card-dark"
  >
    <div
      class="flex-col gap-0 lg:gap-5 lg:rounded-2xl lg:bg-gray-10 lg:dark:bg-gray-70 shadow-inner-border dark:shadow-inner-border-dark lg:flex-row flex items-center bg-cover bg-center lg:bg-right lg:bg-[length:60%_100%] bg-no-repeat bg-meta-gradient dark:bg-meta-gradient-dark"
    >
      <!-- remove "lg:-m-5 to see composition clearer. It is responsible for making one section pop" -->
      <div
        class="lg:-m-5 h-full shadow-nav dark:shadow-nav-dark lg:rounded-2xl bg-wash dark:bg-gray-95 flex flex-col flex-1"
      >
        <div
          class="w-full bg-card dark:bg-wash-dark lg:rounded-t-2xl border-b border-black/5 dark:border-white/5"
        >
          <h3
            class="text-sm my-1 mx-5 text-tertiary dark:text-tertiary-dark select-none"
          >
            Video.js
          </h3>
        </div>
        <!-- Left slot -->
        <div class="px-4 py-10">
          <h1>Left!!</h1>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente
            tempore nam perferendis quod, quisquam voluptatum explicabo
            voluptates ab provident dicta temporibus, ipsam animi odit? Tempore
            reiciendis quaerat obcaecati commodi officiis!
          </p>
        </div>
      </div>

      <div
        class="mt-0 lg:-my-20 flex-1 p-2.5 xs:p-5 lg:p-10 flex justify-center"
      >
        <div>
          <h1>Right!!</h1>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente
            tempore nam perferendis quod, quisquam voluptatum explicabo
            voluptates ab provident dicta temporibus, ipsam animi odit? Tempore
            reiciendis quaerat obcaecati commodi officiis!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
