---
import H3 from "@components/H3.astro";
import Link from "@components/Link.astro";
import Intro from "@components/Intro.astro";
import Divider from "@components/Divider.astro";
import BlogLayout from "@layouts/BlogLayout.astro";
---

<BlogLayout title="React Blog - React" header="React Blog">
  <Intro>
    This blog is the official source for the updates from the React team.
    Anything important, including release notes or deprecation notices, will be
    posted here first. You can also follow the <Link
      href="https://twitter.com/reactjs"
    >
      @reactjs
    </Link>
    account on Twitter, but you won't miss anything essential if you only read this
    blog.
  </Intro>

  <!-- ❗️TODO: List and render (all) blog post cards  -->

  <Divider />

  <H3>All release notes</H3>

  <p>
    Not every React release deserves its own blog post, but you can find a
    detailed changelog for every release in the <Link
      href="https://github.com/facebook/react/blob/main/CHANGELOG.md"
    >
      CHANGELOG.md
    </Link> file in the React repository, as well as on the <Link
      href="https://github.com/facebook/react/releases"
    >
      Releases
    </Link> page.
  </p>

  <Divider />

  <H3>Older posts</H3>

  <p>
    See the <Link href="https://legacy.reactjs.org/blog/all.html/">
      older posts.
    </Link>
  </p>

  <Divider />
</BlogLayout>
