---
import Logo from "../components/Logo.astro";
import ButtonLink from "../components/ButtonLink.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import Section from "./_components/home/Section.astro";
import Center from "./_components/home/Center.astro";
import Header from "./_components/home/Header.astro";
import Paragraph from "./_components/home/Paragraph.astro";
import Code from "./_components/home/Code.astro";
import FullBleed from "./_components/home/FullBleed.astro";
import ExampleLayout from "./_components/home/ExampleLayout.astro";
---

<BaseLayout title="React" page="index">
  <div class="mx-5 mt-12 lg:mt-24 mb-20 lg:mb-32 flex flex-col items-center">
    <Logo
      class="mt-4 mb-3 text-link dark:text-link-dark w-24 lg:w-28 text-sm mr-0"
    />
    <h1
      class="text-5xl font-display lg:text-6xl font-semibold leading-snug text-primary dark:text-primary-dark"
    >
      React
    </h1>
    <p
      class="text-4xl font-display max-w-lg md:max-w-full py-1 text-center text-secondary dark:text-primary-dark leading-snug"
    >
      The library for web and native user interfaces
    </p>

    <div class="mt-5 flex gap-2 w-full sm:w-auto flex-col sm:flex-row">
      <ButtonLink href="/learn" type="primary" size="lg" label="Learn React">
        Learn React
      </ButtonLink>

      <ButtonLink
        size="lg"
        type="secondary"
        href="/reference/react"
        label="API Reference"
      >
        API Reference
      </ButtonLink>
    </div>
  </div>

  <Section gradientDirection="left">
    <Center>
      <Header>Create user interfaces from components</Header>

      <!-- Note component composition with Code nested deep -->
      <Paragraph>
        React lets you build user interfaces out of individual pieces called
        components. Create your own React components like <Code>
          Thumbnail
        </Code>, <Code>LikeButton</Code>, and <Code>Video</Code>. Then combine
        them into entire screens, pages, and apps.
      </Paragraph>
    </Center>

    <FullBleed>
      <ExampleLayout />
    </FullBleed>

    <Center>
      <Paragraph>
        Whether you work on your own or with thousands of other developers,
        using React feels the same. It is designed to let you seamlessly combine
        components written by independent people, teams, and organizations.
      </Paragraph>
    </Center>
  </Section>

  <Section gradientDirection="left">
    <Center>
      <Header>Write components with code and markup</Header>

      <!-- Note component composition with Code nested deep -->
      <Paragraph>
        React components are JavaScript functions. Want to show some content
        conditionally? Use an <Code>if</Code> statement. Displaying a list? Try array
        <Code>map()</Code>. Learning React is learning programming.
      </Paragraph>
    </Center>

    <FullBleed>
      <ExampleLayout />
    </FullBleed>

    <Center>
      <Paragraph>
        This markup syntax is called JSX. It is a JavaScript syntax extension
        popularized by React. Putting JSX markup close to related rendering
        logic makes React components easy to create, maintain, and delete.
      </Paragraph>
    </Center>
  </Section>

  <Section gradientDirection="left">
    <Center>
      <Header>Join a community of millions</Header>

      <Paragraph>
        You're not alone. Two million developers from all over the world visit
        the React docs every month. React is something that people and teams can
        agree on.
      </Paragraph>
    </Center>

    <Center>
      <Paragraph>
        This is why React is more than a library, an architecture, or even an
        ecosystem. React is a community. It's a place where you can ask for
        help, find opportunities, and meet new friends. You will meet both
        developers and designers, beginners and experts, researchers and
        artists, teachers and students. Our backgrounds may be very different,
        but React lets us all create user interfaces together.
      </Paragraph>
    </Center>

    <div class="mt-20 px-5 lg:px-0 mb-6 max-w-4xl text-center text-opacity-80">
      <Logo
        class="text-link dark:text-link-dark w-24 lg:w-28 mb-10 lg:mb-8 mt-12 h-auto mx-auto"
      />
      <Header>
        Welcome to the <br />
        React community
      </Header>

      <ButtonLink
        href="/learn"
        type="primary"
        size="lg"
        label="Take the Tutorial"
      >
        Get Started
      </ButtonLink>
    </div>
  </Section>
</BaseLayout>
