---
import Logo from "@components/Logo.astro";
import ButtonLink from "@components/ButtonLink.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

import Section from "./_components/home/Section.astro";
import Center from "./_components/home/Center.astro";
import Header from "./_components/home/Header.astro";
import Paragraph from "./_components/home/Paragraph.astro";
import Code from "./_components/home/Code.astro";
import FullBleed from "./_components/home/FullBleed.astro";
import ExampleLayout from "./_components/home/ExampleLayout.astro";
import ExampleResultPanel from "./_components/home/ExampleResultPanel.astro";
import CommunityGallery from "./_components/home/CommunityGallery.astro";
---

<BaseLayout title="React" page="index">
  <div class="mx-5 mb-20 mt-12 flex flex-col items-center lg:mb-32 lg:mt-24">
    <Logo
      class="mb-3 mr-0 mt-4 w-24 text-sm text-link dark:text-link-dark lg:w-28"
    />
    <h1
      class="font-display text-5xl font-semibold leading-snug text-primary dark:text-primary-dark lg:text-6xl"
    >
      React
    </h1>
    <p
      class="max-w-lg py-1 text-center font-display text-4xl leading-snug text-secondary dark:text-primary-dark md:max-w-full"
    >
      The library for web and native user interfaces
    </p>

    <div class="mt-5 flex w-full flex-col gap-2 sm:w-auto sm:flex-row">
      <ButtonLink href="/learn" type="primary" size="lg" label="Learn React">
        Learn React
      </ButtonLink>

      <ButtonLink
        size="lg"
        type="secondary"
        href="/reference/react"
        label="API Reference"
      >
        API Reference
      </ButtonLink>
    </div>
  </div>

  <Section gradientDirection="left">
    <Center>
      <Header>Create user interfaces from components</Header>

      <Paragraph>
        React lets you build user interfaces out of individual pieces called
        components. Create your own React components like <Code>
          Thumbnail
        </Code>, <Code>LikeButton</Code>, and <Code>Video</Code>. Then combine
        them into entire screens, pages, and apps.
      </Paragraph>
    </Center>

    <FullBleed>
      <ExampleLayout>
        <div slot="left-content" class="min-h-[200px]">
          <div>
            ❗️ <Code class="text-white">TODO:</Code> Replace with Syntax highlighted
            code
          </div>
        </div>

        <ExampleResultPanel slot="right-content">
          <div>
            ❗️ <Code class="text-white">TODO:</Code> (Astro Island): Render the
            <Code class="text-white">Video</Code> React component from <Code
              class="text-white"
            >
              ../_components/home
            </Code>
          </div>
        </ExampleResultPanel>
      </ExampleLayout>
    </FullBleed>

    <Center>
      <Paragraph>
        Whether you work on your own or with thousands of other developers,
        using React feels the same. It is designed to let you seamlessly combine
        components written by independent people, teams, and organizations.
      </Paragraph>
    </Center>
  </Section>

  <Section gradientDirection="left">
    <Center>
      <Header>Write components with code and markup</Header>

      <Paragraph>
        React components are JavaScript functions. Want to show some content
        conditionally? Use an <Code>if</Code> statement. Displaying a list? Try array
        <Code>map()</Code>. Learning React is learning programming.
      </Paragraph>
    </Center>

    <FullBleed>
      <ExampleLayout>
        <div slot="left-content" class="min-h-[200px]">
          <div>
            ❗️ <Code class="text-white">TODO:</Code> Replace with Syntax highlighted
            code
          </div>
        </div>

        <ExampleResultPanel slot="right-content">
          <div class="flex w-full flex-col gap-4">
            <h2 class="mb-4 text-xl font-bold leading-snug text-primary">
              2 videos
            </h2>

            <div>
              ❗️ <Code class="text-white">TODO:</Code> (Astro Island): Render two
              <Code class="text-white">Video</Code> React components from <Code
                class="text-white"
              >
                ../_components/home
              </Code>
            </div>
          </div>
        </ExampleResultPanel>
      </ExampleLayout>
    </FullBleed>

    <Center>
      <Paragraph>
        This markup syntax is called JSX. It is a JavaScript syntax extension
        popularized by React. Putting JSX markup close to related rendering
        logic makes React components easy to create, maintain, and delete.
      </Paragraph>
    </Center>
  </Section>

  <Section gradientDirection="left">
    <Center>
      <Header>Join a community of millions</Header>

      <Paragraph>
        You're not alone. Two million developers from all over the world visit
        the React docs every month. React is something that people and teams can
        agree on.
      </Paragraph>
    </Center>

    <Center>
      <Paragraph>
        This is why React is more than a library, an architecture, or even an
        ecosystem. React is a community. It's a place where you can ask for
        help, find opportunities, and meet new friends. You will meet both
        developers and designers, beginners and experts, researchers and
        artists, teachers and students. Our backgrounds may be very different,
        but React lets us all create user interfaces together.
      </Paragraph>
    </Center>

    <CommunityGallery />

    <div class="mb-6 mt-20 max-w-4xl px-5 text-center text-opacity-80 lg:px-0">
      <Logo
        class="mx-auto mb-10 mt-12 h-auto w-24 text-link dark:text-link-dark lg:mb-8 lg:w-28"
      />
      <Header>
        Welcome to the <br />
        React community
      </Header>

      <ButtonLink
        href="/learn"
        type="primary"
        size="lg"
        label="Take the Tutorial"
      >
        Get Started
      </ButtonLink>
    </div>
  </Section>
</BaseLayout>
