---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout page="learn" title="Quick Start - React">
    <div class="container mx-auto text-center pt-36">
        <div class="text-2xl">This is your playground</div>
        <p class="text-slate-300">Make something awesome</p>
    </div>
</BaseLayout>
