---
interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "The library for web and native user interfaces",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>

    <!-- TODO: add OG tags  -->
  </head>

  <body>
    <slot />
  </body>
</html>
