---
import BaseLayout from "./BaseLayout.astro";

type Props = {
  title: string;
  header?: string;
};

const { title, header = title } = Astro.props;
---

<BaseLayout title={title} page="blog">
  <div class="mx-auto min-h-[70vh] max-w-5xl px-5 pt-12 lg:px-4">
    <h1
      class="mdx-heading -mx-.5 mt-0 break-words font-display text-5xl font-bold leading-tight text-primary dark:text-primary-dark"
    >
      {header}
    </h1>

    <slot />
  </div>
</BaseLayout>
